{% extends "layout.html" %}

{% block title %}Computational Biology Lab{% endblock %}
{% block content %}
<img width=600 src="static/images/heidelberg.jpg" alt="">

We are a computational biology lab with a small wet lab component, nurturing strong expertise in generating and analysing human ’omics data related to somatic evolution, cancer development and progression.s Our groups constitute a multidisciplinary team gathering researchers with backgrounds in computer science, mathematics, biology, and bioinformatics.
<br>

{% endblock %}
