{% extends "layout.html" %}

{% block title %}Computational Biology Lab{% endblock %}
{% block content %}
<div class="vertical">
        <div class="horizontal">

                  <img class="homeimg" src="static/images/durbuy.jpg" alt="durbuy 2024">

            <p>We are a computational biology lab with a small wet lab component,
                nurturing strong expertise in generating and analysing human ’omics 
                data related to somatic evolution, cancer development and progression.s <br> <br>
                Our groups constitute a multidisciplinary team gathering researchers with 
                backgrounds in computer science, mathematics, biology, and bioinformatics.
           </p>
        </div>
        <div class="vertical">
            <h1>Research axes</h1>
            <ul>
                <li>Thyroid cancer : PTC, ATC, MTC, post-chernobyl PTC, organoid models - somatic evolution</li>
                <li>Cancer transcriptomics: cancer gene signatures - editing - spatial and single nuclei - pancreas clinical signatures</li>
                <li>Microanatomy and histopathology with AI: histome atlas, CODA/VALIS pipeline </li>
                <li>Cancer genomics & somatic evolution: mutation calling - copy-number calling - mutation timing - 3D growth modelling + cancer genetics (Li Fraumeni - Xeroderma Pigmentosum in Tanzania) - XP skin lesions</li>   
            </ul>
        </div>
           
        

</div>

{% endblock %}
