{% extends "layout.html" %}

{% block title %}People{% endblock %}
{% block content %}
<div class="profile_pic">

	<img class='pp' src="static/images/people/{{person.image}}" alt="">

	<h3>{{person.name}} <br> {{person.position}} <br> 
	
        {% for label, emoji in person.background %}
        <a href="#" title="{{ label }}">{{ emoji }}</a>
    {% endfor %}
	</h3>
	<div class='mini_logos'>
	<a href="{{person.github}}" target="_blank">
		<img src="https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png" alt="GitHub"></a>
	<a href="{{person.website}}" target="_blank"><img src="https://cdn.iconscout.com/icon/free/png-256/free-web-icon-download-in-svg-png-gif-file-formats--dripicons-pack-miscellaneous-icons-458408.png" alt="website"></a>
	<a href="{{person.linkedin}}" target="_blank">  <img src="https://cdn.iconscout.com/icon/free/png-256/free-linkedin-logo-icon-download-in-svg-png-gif-file-formats--linked-media-social-pack-logos-icons-3649952.png" alt="LinkedIn">
</a>
	</div>
</div>

<div class="text">

	<h3>Research</h3>
    <p>{{person.research}}</p>
    
   <h3>Biography</h3>
   <p>{{person.bio}}</p>
   
    <h3>Publications</h3>
{% if publications %}
{% for publication in publications %}
<div class='publication' style="margin-bottom: 8px;">
    <span>
        {% if publication.doi %}
            <a href="{{ publication.doi }}" target="_blank" style="font-weight: bold;">{{ publication.title }}</a>
        {% else %}
            <strong>{{ publication.title }}</strong>
        {% endif %}
        — <i>{{ publication.journal }}, {{ publication.year }}</i>
        {% if publication.cited_by_count %}
            <!-- — Cited by {{ publication.cited_by_count }} -->
        {% endif %}
    </span>
</div>
{% endfor %}

{% else %}
    <p>No publications found.</p>
{% endif %}

</div>

{% endblock %}
